@import "nav.css";
@import "footer.css";

* {
    font-family: 'Jua', sans-serif;
    font-size: 12pt;
}

.ssafy {
    color: #58ccff;
}

a:hover {
    text-decoration: none;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.div-margin-top {
    margin-top: 10px;
}

.div-margin-bottom {
    margin-bottom: 30px;
}

.error {
    color: red;
    font-style: italic;
}

.login-margin-top {
    margin-top: 15%;
}

.login-input-width {
    width: 25%;
}

.custom-card {
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
}

.product-detail-card {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.product-font-color {
    color: black;
}

.product-num-input-width {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.notice-width {
    width: 15%;
}