<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.FoodMapper">
    <insert id="insertFood">
        insert into food(foodName, manufacturer, amountPerServings, amountPerCalorie, material, count)
        values (#{foodName}, #{manufacturer}, #{amountPerServings}, #{amountPerCalorie}, #{material}, #{count})
    </insert>

    <select id="allView" resultType="Food">
        select *
        from food;
    </select>

    <delete id="eatDelete">
        delete from food
        where foodId = #{foodId};
    </delete>

    <select id="findByFoodId" resultType="DefaultFood">
        select *
        from foodAll
        where foodId = #{foodId};
    </select>

    <select id="findByFoodName" resultType="DefaultFood">
        select *
        from foodALl
        where foodName like concat('%', #{foodName}, '%');
    </select>

    <select id="findByMaker" resultType="DefaultFood">
        select *
        from foodAll
        where manufacturer = #{makerName};
    </select>

</mapper>