<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.mapper.PostMapper">
    <select id="postAll" resultType="Post">
        select *
        from post p
        order by p.postId DESC;
    </select>

    <insert id="postInsert">
        insert into post(content, memberId, createDateTime, updateTime, writer, title)
        values (#{content}, #{memberId}, #{createDateTime}, #{updateTime}, #{writer}, #{title})
    </insert>

    <select id="findByPostId" resultType="Post">
        select *
        from post
        where postId = #{postId};
    </select>

    <update id="postUpdate">
        update Post
        set title = #{title}, content = #{contents}
        where postId = #{postId};
    </update>

    <delete id="postDelete">
        delete from post
        where postId = #{postId};
    </delete>
</mapper>